@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
nav ul {
  margin: 1rem 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
nav a {
  margin: 0 1rem;
  color: #566B78;
  font-size: 80%;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  -webkit-animation: fade 300ms linear 1;
          animation: fade 300ms linear 1;
}

.app > *:target ~ * {
  display: none;
}

body{
  background-color: white;
  color: black;
  text-shadow: 1px 1px 0px white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
h1, h2, strong {
  color: #333;
}

a {
  color: #000000;
}

header{
  background-color: grey;
  line-height: 1.2;
  padding: 8vw 2em;
  text-align: center;
  height: 200px;
}
header h1 {
  color: #FFFFFF;
  font-size: 2.5em;
  /*text-transform: uppercase;*/
}
.container .extlink {
  border: 2px solid black;
  color: black;
  border-radius: 4px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: none 200ms;
  transition: none 200ms;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
}
.extlink:hover {
  background: #009554;
  border-color: #009554;
}



.nes-header {
  background-color: #7C7C7C;
  background-color: #000000;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, 90deg, from(#7C7C7C), to(#000000));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(90deg, #7C7C7C, #000000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(0deg, #7C7C7C, #000000);
  background-image: linear-gradient(90deg, #7C7C7C, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#7C7C7C', EndColorStr='#000000');
}
.nes-header a:hover {
  background: #A81000;
  border-color: #A81000;
}

.snes-header {
  background-color: #F12934;
  background-color: #F8EA57;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, 90deg, from(#F12934), to(#F8EA57));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(90deg, #F12934, #F8EA57);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(0deg, #F12934, #F8EA57);
  background-image: linear-gradient(90deg, #F12934, #F8EA57);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#F12934', EndColorStr='#F8EA57');
}

.n64-header {
  background-color: #069330;
  background-color: #FFC001;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, 90deg, from(#069330), to(#FFC001));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(90deg, #069330, #FFC001);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(0deg, #069330, #FFC001);
  background-image: linear-gradient(90deg, #069330, #FFC001);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#069330', EndColorStr='#FFC001');
}
.n64-header a {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.n64-header a:hover {
  background: #FFC001;
  border-color: #FFC001;
}

.gc-header {
  background-color: #6549C2;
  background-color: #92929A;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, 90deg, from(#6549C2), to(#92929A));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(90deg, #6549C2, #92929A);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: -webkit-linear-gradient(0deg, #6549C2, #92929A);
  background-image: linear-gradient(90deg, #6549C2, #92929A);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#6549C2', EndColorStr='#92929A');
}
.gc-header a {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.gc-header a:hover {
  background: #000000;
  border-color: #000000;
}

.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 2em;
  text-align: center;
}
/*TEXT CALIBRATIONS*/
.white{
  color: #FFFFFF;
  text-shadow: 2px 2px 0px #000000;
}
.black{
  color: #000000;
  text-shadow: 2px 2px 0px #FFFFFF;
}
p{
  font-size: 20px;
}

/*HOME CONTENTS*/

#homeview .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .2)), url("me3.jpg");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-size: cover;
  height: 900px;
  max-width: 90em;
}
h1#name {
  margin-top: 10%;
  font-size: 500%;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  text-shadow: 2px 2px 0px #000000;
  position: absolute;
  top: 20%;
  left: 70%;
  margin-right: -30%;
  transform: translate(-50%, -50%)
}

p#subt{
  margin-top: -20px;
  font-family: 'Josefin Sans', sans-serif;
  float: h1#name;
}
#connect{
  position: absolute;
  margin-top: 10%;
  top: 40%;
  left: 70%;
  margin-right: -30%;
  transform: translate(-50%, -50%)
}
#connect a{
text-decoration: none;
margin-bottom: 400px;
}
#connect a:hover{
  color: #FFFFFF;
  transition: all .3s ease-in-out;
}
#contentBlog{
  max-width: 500px;
  max-height: 400px;
  text-align: center;
  margin-top: 500px;
  position: absolute;
  top: 35%;
  left: 70%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}



/*PORTFOLIO*/
h1#headername {
  margin-top: 10%;
  font-size: 500%;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  text-shadow: 2px 2px 0px #000000;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.portfolioitiem{
  margin-top: 100px;

}
.portfoliopic{
height: 100px;
}
.portfolionav{
  display:inline-block;
  padding-top: 150px;
}
