*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}
body{
     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("bg.jpg");
     background-position-x: 50%;
     background-position-y: 50%;
     background-attachment: fixed;
     background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
html, body{
     font-family: "Helvetica Neue", Helvetica, sans-serif;
     font-size:18px;
     line-height:30px;
     color:#ffffff;
     text-shadow: 1px 1px 0px #000000;

}
h1{
    font-family: 'Lobster', cursive;
    font-size:60px;
    line-height:50px;
    font-weight:bold;
    text-align: center;
    padding-top: 25px;
}
h2{
    font-size:20px;
    line-height:50px;
    font-weight:bold;
    text-align: center;
    padding-top: 15px;
}
    .Llink{
        /*background-image: url("logo.png");*/
        padding-left: 50px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-right: auto;
        background-size: 80%;
        width: 200px;
    }
        .Llink li{
            padding: 15px;
            font-size: 30px;
            display: block;
            text-transform: uppercase;
        }
        .Llink li a{
        	display: block;
        	/*text-transform: uppercase;*/
        	text-shadow: 0px 0px 5px #fff;
        	letter-spacing: 1px;
        	-webkit-transition: all 0.3s ease-in-out;
        	-moz-transition: all 0.3s ease-in-out;
        	-o-transition: all 0.3s ease-in-out;
        	-ms-transition: all 0.3s ease-in-out;
        	transition: all 0.3s ease-in-out;
        }
        .Llink:hover li a{
        	text-shadow: 0px 0px 5px #fff;
        }
        .Llink li a:hover{
        	color: #fff;
        	text-shadow: 0px 0px 1px #fff;
        	padding-left: 10px;
    }

#chill{
    font-family: 'Lobster', cursive;
    text-transform: none;
}
#lit{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}
#logo{
padding: 20px 20px 20px 20px;


}
#contentBlog{
  text-align: center;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 5px solid orange;*/
  bottom: 150px;
}
