*{
  margin:0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration:inherit;
  line-height:inherit;
  color:inherit;
}
html, body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size:18px;
  line-height:30px;
  color:#ffffff;
  text-shadow: 1px 1px 0px #F54455;

}
body{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
	/*background:repeating-linear-gradient(-45deg, #F54455, #de9dd4 5px, white 5px, white 10px);*/
background: linear-gradient(323deg, #371fd1, #5e1fd1, #FFD700, #9e9e5c,#6d6c6c,#000000);

  /*(327deg, #ffffff, #91d1e7, #0dd483);*/


  background-size: 600% 600%;
  background-position: 0 0;

  animation: coolcolors 60s ease infinite;



}
@keyframes coolcolors {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
img{
  border-radius:20px;
  outline: white;
  border: 3px solid white;
  border-radius: 20px;
}

h1{
      font-family: 'Lobster', cursive;
  font-size:50px;
  line-height:50px;
  font-weight:bold;

}
.hero{
    margin-left: 50px;
    /*float: left;*/
    /*outline:1px solid red;*/
    height:65vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.logolinks{
  margin-right: 200px;
  float: left;
  position:absolute;
  top: 320px;
  display: flex;


}
.logo{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;



  /*left: 800px;*/
  /*outline: 2px solid red;*/
  /*width: 50%;*/
  float: right;
}
/*.inside{ //attempting to gradient inside the logo
  background: linear-gradient(327deg, #0e0e0e, #717171, #e6e75b);
/*(327deg, #ffffff, #91d1e7, #0dd483);*/


  background-size: 600% 600%;
  background-position: 0 0;

  animation: coolcolors 30s ease infinite;*/



}
@keyframes coolcolors {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
.links{
    background-size: 30%;
    padding: 80px;
    margin: 100px 0 10px 0;
    position: relative;
}
                        .links li{
                            padding: 30px;
                            font-size: 50px;
                            display: block;
                        }
                        .links li a{
                        	color: transparent;
                        	display: block;
                        	/*text-transform: uppercase;*/
                        	text-shadow: 0px 0px 5px #fff;
                        	letter-spacing: 1px;
                        	-webkit-transition: all 0.3s ease-in-out;
                        	-moz-transition: all 0.3s ease-in-out;
                        	-o-transition: all 0.3s ease-in-out;
                        	-ms-transition: all 0.3s ease-in-out;
                        	transition: all 0.3s ease-in-out;
                        }
                        .links:hover li a{
                        	text-shadow: 0px 0px 5px #fff;

                        }
                        .links li a:hover{
                        	color: #fff;
                        	text-shadow: 0px 0px 1px #fff;
                        	/*padding-left: 10px;*/
                          font-size: 60px;

                        }
.reg{
  text-transform: uppercase;
}
.chill{
      font-family: 'Lobster', cursive;

}
.lit{
      font-family: 'Anton', sans-serif;
        text-transform: uppercase;
}
.cfield{
      color: #000;
      background-color: rgba(255,255,255,.3);
      line-height: normal;
      width: 600px;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      /*position: absolute;*/
      left: 600px;
      top: 100px;
      text-shadow: none;
}
