/*Mobile :)*/

@media only screen and (max-device-width: 480px) {

  body{

    background: linear-gradient(323deg, #371fd1, #5e1fd1, #FFD700, #9e9e5c,#6d6c6c,#000000);




    background-size: 10000% 10000%;
    background-position: 0 0;

    animation: coolcolors 60s ease infinite;

  }
  @keyframes coolcolors {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
  }

  #logoblog{
    height: 300px;
    width: auto;
    background-image: url("logo.png");
    background-size: 30%, cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #contentBlog{
    opacity: 1;
  }


}


@media  screen and (max-width: 51em) {

  #contentBlog{
    top: 500px;
  }
  body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("bg.jpg");
    background-position-x: 20%;
    background-position-y: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fill;
  }
}

*/  /@media  screen and (max-width: 40em) {

body{

  background: linear-gradient(323deg, #371fd1, #5e1fd1, #FFD700, #9e9e5c,#6d6c6c,#000000);




  background-size: 10000% 10000%;
  background-position: 0 0;

  animation: coolcolors 60s ease infinite;

}
@keyframes coolcolors {
0%{background-position:0% 22%}
50%{background-position:100% 79%}
100%{background-position:0% 22%}
}

#contentBlog{
  top: 500px;
}


}
@media  screen and (max-width: 773px) {
  *{
    font-size: 80%;
  }
  #contentBlog{
    /*opacity:0;
    font-size: 120%;
  }
  .dev_sidebar{
    top: 200px;
  }
  /*body{
  background-size: 100%;
  }*/
}
@media  screen and (max-width: 629px) {
  contentBlog{
    opacity: 0;
  }
}
